@page
@model DecodeModel
@{
    ViewData["Title"] = "Decode";
}
<div class="text-center">
    <div class="row">
        <div class="col d-none d-md-block mb-3">
            <img src="img/steganographysaurus.png" alt="steganographysaurus" class="img-fluid rounded" />
        </div>
        <div class="col">
            <form method="post" enctype="multipart/form-data" class="text-start">
                <div class="row mb-3">
                    <label asp-for="Password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <input type="file" asp-for="StegoImage" accept=".png" class="form-control" onchange="preview(this)" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <img id="image-preview" class="d-none" alt="preview" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-3">Decode</button>

                <div class="alert alert-primary" role="alert">
                    @Model.Message
                </div>
            </form>
        </div>
    </div>
</div>

